.box {

    margin-bottom: 20px; /* Espacement entre les boîtes */
    background-color: rgba(150, 160, 163, 0.555); /* Couleur de fond */
    color: white;
    text-align: center; /* Centrer le texte horizontalement */
    line-height: 100px; /* Centrer le texte verticalement */
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 10px; /* Coins arrondis */
    border: 3px, blue, ;
}
.box:first-child
{
    width: 100%; /* Largeur de la boîte */
    height: 10rem; /* Hauteur de la boîte */
}

.box:nth-child(2)
{
    width: 0.75; /* Largeur de la boîte */
    height: auto; /* Hauteur de la boîte */
}

.box:nth-last-child(1)
{
    width: 20rem; /* Largeur de la boîte */
    height: fit-content; /* Hauteur de la boîte */
}