.Box1
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: navy;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    line-height: 100px;
    margin: 5px;
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
}

.Box2 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: blue;
    font-style: italic;
    text-align: center;
    width: 250px;
    height: 100px;
    background-color: white;
    line-height: 100px;
    margin: 5px; 
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
}



.Box3
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: darkgrey;
    text-decoration: underline;
    text-align: center;
    width: 250px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    line-height: 100px;
    margin: 5px;
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
    
}

.Box4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    text-align: left;
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 5px;
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
}

.Box5
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    text-align:center;
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 5px;
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
    margin-inline-start: auto;
}

.Box6
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    text-align: right;
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 5px;
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
}

.Box7
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    text-align: justify;
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 5px;
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: inline-block;
    margin-inline-start: auto;
}
